
body{
	margin: 0;
	padding:0;
	background-color: #E67F0D;
	font-family: Arial;
}
/*
header{
	background-color: #CC5803;
	padding: 0;
	margin:0;
}
img.logo{
	position: relative;
	max-width: 500px;
	display: inline-block;
	margin-bottom: -4px;
}

div.motto{
	left: 43vw;
	padding-top: 2.2em;
	position: absolute;
	display: inline-block;

}
div.motto h1{
	padding-left: 160px;
}
div.motto h3{
	font-weight: 1px;
}
div.icon_space{
	display: none;
}
div.menu{
	width: 62vw;
	background-color: #4E6E58;
	position: absolute;
	padding-top: 18px;
	padding-bottom: 27px;
	padding-right: 45px; 
	margin-top: 172px;
	display: inline-block;
}

li.menu_items:hover{
	transform: scale(1.1,1.1);
}

.menu ul{
	padding-left: 16px;
	margin:0;
}
.menu ul li{
	margin: 0px;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
}
.menu li a{
	font-size: 1.5em;
	color: black;
	text-decoration: none;
}
*/

.container_2{
	background-color: #CC5803;
	height: 200px;
	display: flex;
	flex-direction: row;
	font-family: arial;
}
.short{
	display: none;
	text-align: right;
	padding-right: 10px;
}
.g_one{
	height: 100%;
	float: left;
	position: relative;
}
.g_two{
	width: 100%;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.sub_1{
	height: 50%;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 30px;

}
.sub_2{
	background-color: #4E6E58;
	height: 50%;


}
#close{
	display: none;
	text-align: right;
	padding-right: 10px;
}
#tag_menu2{
	display: none;
	position: absolute;
	margin-left: 400px;
	padding-right: 50px;
	z-index: 1;
	background-color: #4E6E58;
}
.menu_items2{
	list-style-type: none;
	padding-bottom: 15px;
	font-size: 1.7em;
}
.menu_items2 a{
	font-family: Arial;
	margin-top: 0;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
}
.menu_items2:hover{
	transform: scale(1.1,1.1);
}
.menu_items{
	display: inline-block;
	font-family: Arial;
	margin-top: 0;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}
li.menu_items:hover{
	transform: scale(1.1,1.1);
}
.sub_2 li a{
	font-size: 1.5em;
	color: black;
	text-decoration: none;
}
img.footer_img{
	height: 100px;
	margin-top: 40px;
	margin-left: 100px;
}
.foot{
	background-color: #592941;
	width: 100%;

}
.bottom{
	display: flex;
	flex-direction: row;
	margin-top: -4px;
	padding-bottom: 0px;
	
}
.bottom_text{
	margin-bottom: 0px;
	text-align: center;
	margin: 0px;
	font-size: 0.9em;
}
.footer_list{
	margin-left: 50px;
	margin-top: 30px;
	list-style-type: none;
}
.other_element{
	padding-bottom: 5px;
}
.first_element{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: 15px;
}

@media screen and (max-width: 1235px){
	#tag_menu{
		display: none;
	}
	.short{
		display: block;		
	}
}
@media screen and (min-width: 1236px){
	#tag_menu{
		display: block;
	}
	.short{
		display: none;		
	}
	#close{
		display: none;
	}
	#tag_menu2{
		display: none;
	}
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

img.front{

	width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */

a.front_links{
	margin: 1em;
	background-color: rgba(242, 242, 242, 0.5);
	text-decoration: none;
	color: #0D0D0D;
	font-size: 2em;
	padding: 20px 20px;
	position: absolute;
	top: 0;
	border-radius: 5px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




h1.descripcion{
	margin-top: 10px;
	padding-left: 15px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
h3.descripcion{
	margin-left: 20px;
	margin-right: 25px;
	line-height: 1.8em;
	font-size: 1.5em;
}

p.descripcion{
	margin-left: 30px;
	margin-right: 30px;
	line-height: 1.8em;
	font-size: 1.5em;
	text-align: justify;
}
p.descripcion_common{
	margin-left: 15px;
}
img.prod_pres{
	height:500px;
}

ul.prod_pres{
	list-style-type: none;
	display: inline-block;
	padding: 20px;
	border-radius: 15px;
}
ul.prod_pres:hover{
	background-color: rgba(242, 242, 242, 0.2);
}
div.prod_pres{
	margin-left: 18%;
	
}
li.prod_pres a{
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}
li.prod_pres a:hover{
	text-decoration: underline;
}
img.previous_pic{
	width: 100%;
}
.product_block{
	display: flex;
	flex-direction: row;
}
ul.list_equipment{
	padding-left: 0px;
	margin-left: 30px;
	list-style-type: none;
	border-radius: 15px;
	background-color: rgba(31,26,56,0.3);
}

.item_equipment a{
	color: black;
	text-decoration: none;
}
li.item_equipment{
	width: 360px;
	padding: 10px;
	padding-left: 20px;
	font-size: 1.3em;
	font-weight: bold;
	border-radius: 15px 15px 0px 0px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgba(0,0,0,0.6); 
}
h1.subtitle{
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

li.item_equipment:hover{
	cursor: pointer;
	padding-left: 30px;
	text-decoration: underline;
	background-color: rgba(100,100,100,0.5);
}
h1.descripcion2{

	margin-top: 10px;
	padding-left: 15px;
	margin-bottom: 0px;

}
.back_home{
	padding-left: 15px;
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}
.back_home li{
	list-style-type: none;
	display: inline-block;
	padding-right: 10px;
	font-size: 1.3em;
}
.back_home a{
	color: black;
	text-decoration: none;

}
.links:hover{
	text-decoration: underline;
}
#item_description1{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	list-style-type: square;
	display:none;
}
#item_description2{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 65px;
	list-style-type: square;
	display:none;
}
#item_description3{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 110px;
	list-style-type: square;
	display:none;
}
#item_description4{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 155px;
	list-style-type: square;
	display:none;
}
#item_description5{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 200px;
	list-style-type: square;
	display:none;
}
#item_description6{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 245px;
	list-style-type: square;
	display:none;
}
#item_description7{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 290px;
	list-style-type: square;
	display:none;
}
#item_description8{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 335px;
	list-style-type: square;
	display:none;
}
#item_description9{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 380px;
	list-style-type: square;
	display:none;
}
#item_description10{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 425px;
	list-style-type: square;
	display:none;
}
#item_description11{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 470px;
	list-style-type: square;
	display:none;
}
#item_description12{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 515px;
	list-style-type: square;
	display:none;
}
#item_description13{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 560px;
	list-style-type: square;
	display:none;
}
#item_description14{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 605px;
	list-style-type: square;
	display:none;
}
#item_description15{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 650px;
	list-style-type: square;
	display:none;
}
#item_description16{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 695px;
	list-style-type: square;
	display:none;
}
#item_description17{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 760px;
	list-style-type: square;
	display:none;
}
#laundry_item_description1{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	list-style-type: square;
	display:none;
}
#laundry_item_description2{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 265px;
	list-style-type: square;
	display:none;
}
#laundry_item_description3{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 360px;
	list-style-type: square;
	display:none;
}
#laundry_item_description4{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 10px;
	margin-top: 425px;
	list-style-type: square;
	display:none;
}
.item_equipment2{
	font-size: 1.1em;
	padding: 10px;
}
.item_equipment2 a{
	color: black;
	text-decoration: none;
}
li.item_equipment2:hover{
	background-color: rgba(100,100,100,0.3);
}
.productos{
	display: flex;
	justify-content: center;

}
.fila_uno{
	list-style-type: none;

}
li.imgs_productos{
	display: inline-block;
	padding: 15px;
	border-radius: 15px;
}
li.imgs_productos:hover{
	background-color: rgba(242, 242, 242, 0.2);
}
img.imgs_productos{
	height: 300px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.imgs_productos2{
	height: 200px;
	border-style: solid;
	border-width: 2px;
	cursor: pointer;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subclase{
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	padding-right: 35px;
}
.nombre_producto{
	font-size: 1.2em;
	font-weight: bold;
}
.nombre_producto2{
	font-size: 1em;

}

.modal{
	display: none;
	position: fixed;
	padding-top: 40px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,.8);
}
.modal-content{
	padding: 30px;
	padding-bottom: 10px;
	margin:auto;
	display: block;
	width: 80%;
	max-height: 85%;
	max-width: 1000px;
	overflow-y: auto;
	background-color: #413C58;
	color: white;
	animation: zoom .5s;
}
.cerrar{
	position: absolute;
	top: 15px;
	right: 35px;
	font-size: 40px;
	color: white;
	cursor: pointer;
}
.prod_array div ul{
	background-color: rgba(45,35,39,0.4);
	margin-left: 5px;
	padding-top: 10px;		
	padding-bottom: 5px;
	padding-right: 10px;
	border-radius: 5px;
	border-style: hidden;
}
@keyframes zoom{
	from{transform: scale(0);}
	to{transform: scale(1);}
}

.laundry_template{
	display: flex;
	flex-direction: row;
}
.laundry_description{
	background-color: rgba(191, 49, 0, 0.4);
	border-radius: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: auto;
}
img.laundry_pic{
	margin-left: 20px;
	margin-top: 15px;
	border-style: solid;
	border-width: 2px;
}
li.laundry_title{
	list-style-type: none;
	font-size: 1.7em;
	font-weight: bold;
	padding-bottom: 15px;
}
li.laundry_text{
	font-size: 1.1em;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 25px;
	line-height: 1.5;
}
.tabla_1{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	border-collapse: collapse;
	border-color: black;
}
th, td{
	padding: 5px;
}
tr:nth-child(even) {
	background-color: #D34E24;
}
div.contacto_container{
	display: flex;
	flex-direction: row;
}
div.email_forwarder{
	margin-left: 50px;
}
div.info{
	margin-left: 50px;
}
#comment{
	resize: none;
	border-radius: 5px;
	border-color: rgba(65,60,88,0.5);
	background-color: rgba(65,60,88,0.5);
}
.other_element a{
	text-decoration: none;
	color: black;
	font-size: 0.9em;
}
.other_element a:hover{
	text-decoration: underline;
}
.descripcion_main{
	margin-left: 250px;
	margin-right: 250px;
	font-size: 1.5em;
	text-align: justify;
	line-height: 1.7;
	background-color: rgba(242, 242, 242, 0.2);
	padding: 15px;
	border-radius: 25px;
}
div.descripcion_main{
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 30px;
	font-size: 1.5em;
	line-height: 1.7;
	background-color: rgba(242, 242, 242, 0.2);
	padding: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 20px;
	border-radius: 25px;
}
}
.descripcion_producto{
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 15px;
}
.garantia{
	text-align: center;
}
.prod_array{
	display: flex;
	flex-direction: row;
}
img.imgs_productos3{
	height: 300px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	cursor: pointer;
	display: block;
	margin-right: 20px;
	margin-top: 30px;
}
img.imgs_productos4{
	max-height: 200px;
	max-width: 350px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	cursor: pointer;
	display: block;
	margin-right: 20px;
	margin-top: 30px;
}
.img_price{
	display: flex;
	flex-direction: column;
}
.price{
	margin-right: auto;
	padding:10px;
	border-radius: 15px;
	background-color: rgba(230,127,13,0.8);
}
.warranty{
	margin-right: auto;
	margin-top: 0px;
	padding:10px;
	border-radius: 15px;
	background-color: rgba(24,146,13,0.9);
}
.price_laundry{
	margin-left: 20px;
	margin-right: auto;
	padding:10px;
	border-radius: 10px;
	background-color:#D34E24;
}
.warranty_laundry{
	margin-left: 20px;
	margin-right: auto;
	padding:10px;
	margin-top: 0px;
	border-radius: 10px;
	background-color: #4b7931;
}
.more_info{
	color: black;
	text-align: center;
}
.more_info a{
	color: black;
	font-weight: bold;
}
.mail_info{
	border-radius: 5px;
	border-style: groove;
	border-color: rgba(191,49,0,0.3);
	padding: 5px;
	background-color: rgba(191,49,0,0.5);
}
#submit{
	border-radius: 5px;
	padding: 5px;
}
::placeholder {
	color: rgba(64, 61, 57,0.8);
}